.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  background-color: #3b3542;
  position: relative;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #535ead;
  box-shadow: rgb(133 157 175 / 30%) 0px 1px 2px 0px, rgb(152 184 207 / 15%) 0px 1px 
}


.media:hover {
  background-color: rgb(96, 20, 196);

}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 8px 0;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  padding: 0 2px;
  padding-bottom: 3px;
}